* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ffffff, #000000);
    color: white;
    padding: 20px;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    width: 380px;
    height: 25rem;
}

.title {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

p {
    margin: 10px 0;
    font-size: 1.2rem;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

button {
    background: #00e5ff;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.player-button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 5px;
}

.comment {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;    
}   

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.player-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.player-btn img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Responsive */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .title {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.9rem;
        padding: 10px;
    }

    .player-btn img {
        width: 60px;
        height: 60px;
    }
}
